@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@400;500;700;800&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  overflow-y: scroll;
}

img {
  border: none;
}

ion-icon {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.main {
  height: 100vh;
  width: 100vw;
  background: url(/resources/images/bg/trial.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), #141313);
}
.main .floating {
  position: absolute;
  left: 60vw;
  top: 10rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1rem;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.main .aside {
  position: relative;
  left: 0;
  width: 40vw;
  height: 100%;
  padding: 3rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  z-index: 1;
}
.main .aside .logo img {
  border-radius: 50%;
}
.main .aside .hero__content {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1rem;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.main .aside .hero__content h3 {
  font-size: 2.5rem;
  font-family: "Roboto Slab", serif;
}
.main .aside .hero__content p {
  padding-top: 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  opacity: 0.7rem;
}
.main .aside .hero__content #button {
  border: none;
  margin-top: 1.4rem;
  padding: 0.4rem 2rem;
  font-size: 1rem;
  background-color: rgb(236, 167, 39);
  mix-blend-mode: screen;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.main .aside .hero__content #button:hover {
  background-color: rgb(36, 35, 33);
  color: rgb(236, 167, 39);
}
.main .aside #location {
  padding-top: 0;
  opacity: 0.5rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main .aside #location #loco {
  font-size: 1.5rem;
}
.main #nav {
  position: absolute;
  top: 0;
  left: 30vw;
  display: flex;
  width: 70vw;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.main #nav span {
  font-size: 0.8rem;
}
.main #nav #sub__nav a {
  padding: 0 2rem;
  text-decoration: none;
  color: inherit;
}
.main #nav #sub__nav a:hover {
  color: rgb(241, 176, 54);
  transition: all 0.2s ease-in-out;
}
.main #nav #icons {
  font-size: 1.7rem;
  margin-right: 2rem;
}
.main #nav #icons ion-icon {
  padding-left: 1rem;
  cursor: pointer;
}
.main #nav #icons ion-icon:hover {
  color: rgb(236, 167, 39);
  transition: all 0.2s ease-in-out;
}

/*
**
**page 2
*
**/
.page2 {
  height: 100vh;
  background: url(/resources/images/bg/pg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  margin: -1rem 0 0;
  z-index: 1;
}
.page2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), #141313);
}
.page2 .small__nav {
  padding: 4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}
.page2 .small__nav .info {
  width: 17%;
  color: #A06235;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
}
.page2 .small__nav .info #time {
  font-size: 5.5rem;
  padding-right: 1rem;
  color: #A06235;
}
.page2 .small__nav h3 {
  text-align: center;
  color: #f78c40;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Playfair", serif;
  text-transform: uppercase;
  width: -moz-min-content;
  width: min-content;
  line-height: 2rem;
}
.page2 .small__nav .filter {
  font-size: 0.8rem;
}
.page2 .small__nav .filter h6 {
  font-size: 0.5rem;
  opacity: 0.6;
  padding-bottom: 1rem;
}
.page2 .small__nav .filter :nth-child(1) {
  color: #f78c40;
}
.page2 .gallery {
  padding: 1rem 10rem 0 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.page2 .gallery .box {
  height: 31vh;
  max-width: 14rem;
  background-color: #1D1D1D;
  border-radius: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 999;
}
.page2 .gallery .box:hover {
  background-color: #A06235;
  transition: all 0.1s ease-out;
}
.page2 .gallery .box img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: -1rem;
  background-color: #1D1D1D;
  color: #1D1D1D;
}
.page2 .gallery .box .box__content {
  display: flex;
  padding: 0 0.5rem 1rem 0.5rem;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}
.page2 .gallery .box .box__content .float__left {
  font-weight: 400;
}
.page2 .gallery .box .box__content .float__left span {
  opacity: 0.5;
}
.page2 .gallery .box .box__content .float__left h4 {
  opacity: 0.7;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
}
.page2 .gallery .box .box__content .float__right {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  justify-content: flex-end;
}
.page2 .gallery .box .box__content .float__right span {
  opacity: 0.5;
}
.page2 .gallery .box .box__content .float__right ion-icon {
  float: right;
  font-size: 1.4rem;
  opacity: 0.4;
  align-self: flex-end;
}
.page2 .gallery .box .box__content .float__right #btn {
  background: #f78c40;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
}
.page2 .gallery .box .box__content .float__right #btn:hover {
  background-color: rgb(36, 35, 33);
  transition: all 0.3s ease;
  color: rgb(236, 167, 39);
}
.page2 .gallery .glass {
  background-color: #A06235;
  position: relative;
}
.page2 .gallery .glass #glass {
  display: none;
  position: absolute;
  top: 1.5rem;
  width: 12rem;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
}
.page2 .button {
  position: absolute;
  left: 45%;
  margin: 2rem auto;
  padding: 0.4rem 2rem;
  font-size: 1rem;
  background: #f78c40;
  border: none;
  border-radius: 5px;
  align-items: center;
  text-align: center;
}
.page2 .button:hover {
  background: #A06235;
  transition: all 4s ease-out;
}

/*
**
**page 3
*
*/
.page3 {
  background: url(/resources/images/fire1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding: 3rem;
}
.page3 .part1 {
  background: #df7f3a;
  height: 35.6vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}
.page3 .part1 .image_overflow {
  width: 35%;
}
.page3 .part1 .image_overflow img {
  background-color: transparent;
  width: 20rem;
  height: 20rem;
}
.page3 .part1 .mid {
  width: 40%;
  padding: 1rem;
  color: black;
}
.page3 .part1 .mid h3 {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  text-align: center;
  text-transform: uppercase;
}
.page3 .part1 .mid p {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
}
.page3 .part1 .mid .icons {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.page3 .part1 .mid .icons div {
  padding: 0 1rem;
}
.page3 .part1 .mid .icons ion-icon {
  font-size: 2rem;
}
.page3 .part1 .mid .icons img {
  width: 3rem;
  height: 3rem;
}
.page3 .part1 .mid .icons span {
  font-size: 0.7rem;
}
.page3 .part1 .end {
  width: 30%;
  padding: 0.8rem;
  border-radius: 5px;
  background-color: #A06235;
}
.page3 .part1 .end .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page3 .part1 .end .top img {
  width: 7rem;
  height: 7rem;
  background-color: transparent;
}
.page3 .part1 .end .top .leftt {
  padding: 2rem 1rem 1rem 1rem;
  width: 60%;
}
.page3 .part1 .end .top .leftt p {
  font-size: 0.8rem;
  font-weight: bold;
}
.page3 .part1 .end .top .leftt span {
  padding-top: 2rem;
  opacity: 0.6;
}
.page3 .part1 .end #mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page3 .part1 .end #mid #left span {
  opacity: 0.6;
  font-size: 0.9rem;
  font-style: italic;
}
.page3 .part1 .end #mid #left h4 {
  font-size: 1.3rem;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.page3 .part1 .end #mid #right {
  padding: 0.4rem 2rem;
  font-size: 1rem;
  background: #f78c40;
  border: none;
  border-radius: 5px;
  margin-right: 2rem;
}
.page3 .part1 .end #mid #right:hover {
  background-color: rgb(36, 35, 33);
  transition: all 0.3s ease-in-out;
  color: rgb(236, 167, 39);
}
.page3 .part1 .end #end {
  padding: 0.7rem;
}
.page3 .part1 .end #end p {
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.7;
}
.page3 .part2 {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  border-radius: 10px;
}
.page3 .part2 .start {
  padding: 2rem;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-radius: 10px;
}
.page3 .part2 .start h3 {
  font-size: 1.3rem;
  font-family: "Roboto Slab", serif;
}
.page3 .part2 .start p {
  padding: 1rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.page3 .part2 .start span {
  font-size: 0.7rem;
  font-weight: bold;
  color: #A06235;
}
.page3 .part2 .start .socials {
  padding: 1rem 0 0 0;
  margin-bottom: -2rem;
}
.page3 .part2 .start .socials ion-icon {
  padding-right: 1rem;
  color: #A06235;
  font-size: 1.3rem;
}
.page3 .part2 .years {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  height: 22.5rem;
  padding-right: 5rem;
}
.page3 .part2 .years h1 {
  padding-top: 1rem;
  color: #df7f3a;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 10rem;
  margin-bottom: -2rem;
}
.page3 .part2 .years span {
  font-size: 3rem;
  color: #df7f3a;
  margin-top: -3rem;
}
.page3 .part2 .oven {
  width: 30%;
  margin-left: -1rem;
}
.page3 .part2 .oven img {
  width: 100%;
  height: 23.5rem;
}
.page3 .part3 {
  padding: 3rem;
}
.page3 .part3 .span {
  padding: 0.4rem 25rem;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.4rem;
  border: none;
  background-color: #A06235;
  color: black;
  border-radius: 5px;
  display: inline;
}
.page3 .part3 .span:hover {
  background-color: rgb(36, 35, 33);
  transition: all 0.1s ease;
  color: rgb(236, 167, 39);
}

.footer {
  background-color: black;
  color: white;
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer h4 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.footer .flow {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
.footer .flow span {
  padding-bottom: 0.5rem 0;
}
.footer .flow span ion-icon {
  padding-right: 0.7rem;
}
.footer h3 {
  font-family: "Playfair", serif;
  text-transform: uppercase;
  font-size: 2rem;
}
.footer .floww {
  display: flex;
  font-family: "Pacifico", cursive;
  align-items: center;
  text-align: center;
}
.footer .floww h6 {
  font-size: 2rem;
  padding: 0 1rem;
}
.footer .follow span:hover {
  transition: all 0.3s ease;
  color: #df7f3a;
}

/*
**
** @media breakpoints
*
*//*# sourceMappingURL=index.css.map */