*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(/resources/images/bg/trial.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0,0, 0, .5);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), #141313);
    }
    .floating{
        position: absolute;
        left: 60vw;
        top: 10rem;
        // border: 1px solid red;
        background-color: rgba(255, 255, 255, 0.15);
        padding: 1rem;
        border-radius: 10px;
        backdrop-filter: blur(7px);
    }
    

    .aside{
        position: fixed;
        left: 0;
        width: 40vw;
        height: 100%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        z-index: 1;
        .logo{
            img{
                border-radius: 50%;
            }
        }

        .hero__content{
            background-color: rgba(255, 255, 255, 0.15);
            padding: 1rem;
            border-radius: 10px;
            backdrop-filter: blur(7px);
            h3{
                // font-weight: 700;
                font-size: 2.5rem;
                font-family: 'Roboto Slab', serif;
            }
            p{
                padding-top: 1rem;
                line-height: 1.5rem;
                font-size: 1rem;
                opacity: .7rem;
                
            }

            #button{
                border: none;
                margin-top: 1.4rem;
                padding: .4rem 2rem;
                font-size: 1rem;
                // color: transparent;
                background-color: rgb(236, 167, 39);
                mix-blend-mode: screen;
                border-radius: 6px;
                transition: .1s ease-in-out;
                &:hover{
                    background-color: rgb(245, 225, 188);
                    // transition: .3s ease-in-out;
                    color: #141313;
                }
            }
        }

        #location{
            padding-top: 5rem;
            opacity: .5rem;
        }
    }
    #nav{
        position: fixed;
        top: 0;
        left: 30vw;
        // border: 1px solid red;
        display: flex;
        // flex-direction: column;
        width: 70vw;
        // gap: 3rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

        span{
            font-size: .8rem;
        }
        
        #sub__nav{
            a{
                padding: 0 2rem;
                text-decoration: none;
                color: inherit;
                &:hover{
                    color: rgb(241, 176, 54);
                    transition: .2s ease-in-out;
                }
            }
        }

        #icons{
            // justify-content: flex-end;
            font-size: 1.7rem;
            margin-right: 2rem;


            ion-icon{
                padding-left: 1rem;
                cursor: pointer;
                &:hover{
                    color: rgb(236, 167, 39);
                    transition: .2s ease-in-out;
                }
            }
        }
    }
}